<br>
  <h1 style="text-align:center; font-size:76px; line-height:75px">
Your Data is Free Here </h1>
<br>
<img src="assets/haven6.jpg" class="img-rounded">
<h3 style="color:#666; text-align:center"> Feedhaven is an open source project focused on providing a standardized feed storage to integrate with the connected web.</h3>
<hr>
<div class="row">
  <div class="span4">
    <h3> Own Feeds from Everywhere </h3>
    <p> Use applications like Zapier to pull data to your Haven from every Feed, Stream, Log, and other online channel you have access to.</p>
  </div>
  <div class="span4">
    <h3> Your Data is <strong><i> Your</i> </strong> Data</h3>
    <p>  Store your data where you want to.  Or host it with a <a href="http://feedhaven.com">feed hosting service</a>.  </p>
  </div>
  <div class="span4">
    <h3> RSS Everything </h3>
    <p> Instant JSON, and ATOM access to each of your feeds no matter the source.  Use any RSS reader to read any Feedhaven feed.</p>
  </div>
</div>

