<h1> Limitations and Warnings </h1>
<p> Feedhaven is still in early alpha and is highly experimental.  While it is suggested that you start playing with and using Feedhaven, it advised against using Feedhaven for sensitive data or important applications. </p>

<hr>
<h3> Privacy Settings</h3>
Feedhaven does not have a system for privacy and editing permissions.  All feeds are accessible by a long UID.  This is shown to the feed creator.  However, anyone with access to the UID and/or feed link will be able to see and edit this data.
<h3> No Encryption </h3>
Existing Feedhaven data is stored in plain text on a remote MongoDB instance.  HTTPS and SSL have not yet been set up, so when browsing data on a Feedhaven website, the data will not be secure.
<h3> Prone to Change </h3>
The specific format for feeds is likely to change, as is the API and other technology choices.  When these become stable, API v 1.0 will be released.
<h3> Not real-time </h3>
Feedhaven currently does not support real time data feeds.  It uses the standard RSS model of publishing data but not pushing data changes anywhere.  Therefore Feedhaven is not yet well suited to chat or similar message systems requiring interaction.  

<hr>
<h1> Help us Fix These </h1>
<p> The Feedhaven code is publicly available on Github to use and contribute to.  We plan to tackle each one of these issues (and more), but could use help to do so.
</p>
