<div class="navbar navbar-fixed-top" style="margin-bottom:50px;">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Feedhaven", home_path, :class => "brand" %>
    </div>
  </div>
</div>



